
/* Dark theme colors */
body.dark-theme {
    color: #8A949F;
    background-color: #0C1118 !important;
}


body.dark-theme .bg-primary {
    background-color: #151B23 !important;
}

body.dark-theme h1, body.dark-theme h2, body.dark-theme h3, body.dark-theme h4 {
    color: #C8D1DA !important;
}

body.dark-theme hr{
    border: 1px solid #20262E;
}

body.dark-theme a{
    color: #49A0FF;
}

body.dark-theme .text-primary {
    color: #49A0FF !important;
}

body.dark-theme .bibbase_paper_title a {
    color: #49A0FF !important;
}





/* Dark mode */
@media (prefers-color-scheme: dark) {
    /* body {
        background-color: black;
        color: white;
    } */
}
